<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjst.dgt.dao.MessageQuotationMapper">

    <resultMap id="BaseResultMap" type="com.bjst.dgt.model.MessageQuotation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    </resultMap>

    <sql id="getMessageQuotationSql">
    `id`,`user_id`,`content`
  </sql>

    <select id="getPriceWarning" resultMap="BaseResultMap" parameterType="com.bjst.dgt.model.MessageQuotation">
        SELECT
        <include refid="getMessageQuotationSql"/>
        FROM `message_quotation`
        WHERE `user_id` = #{userId}
    </select>

</mapper>