<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjst.dgt.dao.ProductMapper">

    <resultMap id="getResultMap" type="com.bjst.dgt.model.Product">
        <id column="code" jdbcType="VARCHAR" property="code"/>
        <result column="code_show" jdbcType="VARCHAR" property="codeShow"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="exchange" jdbcType="VARCHAR" property="exchange"/>
        <result column="system_type" jdbcType="TINYINT" property="systemType"/>
        <result column="last_price" jdbcType="DECIMAL" property="lastPrice"/>
        <result column="market" jdbcType="VARCHAR" property="market"/>
        <result column="is_domestic" jdbcType="TINYINT" property="isDomestic"/>
        <result column="data_status" jdbcType="TINYINT" property="dataStatus"/>
        <result column="change_count" jdbcType="DECIMAL" property="changeCount"/>
        <result column="categroy_code" jdbcType="VARCHAR" property="categroyCode"/>
        <result column="order" jdbcType="TINYINT" property="order"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="getProductSql">
      `code`, `code_show`, `name`, `exchange`, `system_type`,`last_price`, `market`, `is_domestic`, `data_status`,
      `change_count`, `categroy_code`, `order`, `create_time`, `update_time`
    </sql>

    <select id="getProduct" resultMap="getResultMap">
        SELECT
        <include refid="getProductSql"/>
        FROM `product`
    </select>

    <update id="updatePriceByCode" parameterType="com.bjst.dgt.model.StockDatas">
        UPDATE `product`
        SET `last_price` = #{lastPrice} , `change_count` = #{changeCount} , `update_time` = now()
        WHERE `code` = #{code}
    </update>


</mapper>