<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjst.dgt.dao.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.bjst.dgt.model.Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="question_type_id" jdbcType="VARCHAR" property="questionTypeId"/>
        <result column="subtitle" jdbcType="VARCHAR" property="subtitle"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
    </resultMap>

    <sql id="getQuestionSql">
    `id`,`question_type_id`,`subtitle`,`content`
  </sql>

    <select id="getCommonProblems" resultMap="BaseResultMap" parameterType="com.bjst.dgt.model.Question">
        SELECT
        <include refid="getQuestionSql"/>
        FROM `question`
        WHERE `question_type_id` = #{questionTypeId}
    </select>

</mapper>