<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjst.dgt.dao.SBankCardTypeMapper">
  <resultMap id="BaseResultMap" type="com.bjst.dgt.model.SBankCardType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bankName" jdbcType="VARCHAR" property="bankname" />
  </resultMap>
</mapper>