<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjst.dgt.dao.STransactionMapper">
  <resultMap id="BaseResultMap" type="com.bjst.dgt.model.STransaction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_price" jdbcType="VARCHAR" property="openPrice" />
    <result column="transaction_number" jdbcType="INTEGER" property="transactionNumber" />
    <result column="target_profit_number" jdbcType="VARCHAR" property="targetProfitNumber" />
    <result column="target_profit_money" jdbcType="VARCHAR" property="targetProfitMoney" />
    <result column="stop_loss_number" jdbcType="VARCHAR" property="stopLossNumber" />
    <result column="stop_loss_money" jdbcType="VARCHAR" property="stopLossMoney" />
    <result column="target_profit" jdbcType="VARCHAR" property="targetProfit" />
    <result column="mobile_insurance" jdbcType="VARCHAR" property="mobileInsurance" />
    <result column="movement_point_number" jdbcType="VARCHAR" property="movementPointNumber" />
    <result column="mobile_insurance_number" jdbcType="VARCHAR" property="mobileInsuranceNumber" />
    <result column="transaction_cost" jdbcType="VARCHAR" property="transactionCost" />
    <result column="bond" jdbcType="VARCHAR" property="bond" />
    <result column="total" jdbcType="VARCHAR" property="total" />
  </resultMap>
</mapper>